*{ box-sizing: border-box; }

.rating-card-container {
    padding: 10px 0px;
    .rated-site-card-container {
        display: flex;
        flex-direction: column;
        .rated-site-header {
            display: flex;
            .rated-site-title {
                font-size: 25px;
            }
            .icon-badge {
                position: inherit;
                mat-icon {
                    font-size: 30px; 
                }                          
                &:after {
                    content: attr(data-level);
                    position: absolute;
                    top:20px;
                    right:15px;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    color: #000000;
                    text-align: center;
                    color: rgba(255,255,255,1.0);
                }
                
                #rate-icon {
                    color: rgba(24,164,24,1.0);
                }
                                
                #sec-ico {
                    color: rgba(0,0,0,1.0);
                }
            }
        }

        .rated-site-card-body {

            .rated-site-link {
                text-align: center;
                button {
                    width: 100%;
                }
            }

            .rated-site-categories {
                display: flex;
                align-items: baseline;
                align-content: center;
                justify-content: space-between;
                padding: 10px 0;
                span { 
                    font-size: 20px;
                }
                div {
                    font-weight: bold;
                }
            }
                
        }

    }
}

.flex-spacer {
    flex: 1 1 auto;
}

.safe1, .rated {
    .mat-icon {
        color: rgba(24,164,24,1.0);
    }
    &:after {
        background-color: rgba(24,164,24,1.0) !important;
    }
}

.unsafe4, .unknown {
    .mat-icon {
        color: rgba(255,255,0,1.0);
    }
    
    &:after {
        background-color: rgba(255,255,0,1.0) !important;
    }
}

.level5, .error {
    .mat-icon {
        color: rgba(255,0,0,1.0);
    }
    
    &:after {
        background-color: rgba(255,0,0,1.0) !important;
    }
}
