<div class="container">
  <div class="header">
    <h1>cart-view works!</h1>
  </div>
  <div class="content">
        <div class="itm-list">
            <ul>
              <li *ngFor="let item of catalogStore.catalog | async">
                <p>{{item.id}}</p>
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
                <h4>{{item.price}}</h4>
                <p>{{item.complete}}</p>
              </li>
            </ul>
          </div>
    <p>
        Lorem ipsum dolor amet banjo fanny pack ethical heirloom tilde seitan hell of listicle. Woke meggings artisan, affogato sartorial next level tumeric iPhone. Austin woke adaptogen echo park occupy meggings VHS salvia brooklyn. Put a bird on it ugh messenger bag cloud bread, heirloom hella lomo. Pug tacos forage tousled PBR&B af etsy vape sriracha. Kogi normcore lo-fi bespoke, coloring book food truck kombucha jianbing. Master cleanse cloud bread tousled synth portland, tacos sriracha crucifix wayfarers scenester ethical heirloom.
        
        Af umami selfies jianbing vape ramps thundercats twee affogato bespoke organic. Organic selfies gluten-free man braid, edison bulb sustainable YOLO live-edge enamel pin four dollar toast mlkshk blue bottle taxidermy. 3 wolf moon schlitz trust fund crucifix, gluten-free venmo sustainable kitsch pitchfork yr cloud bread. Sustainable vape lo-fi jianbing la croix. Next level pug crucifix, polaroid vexillologist cray synth sartorial gastropub enamel pin palo santo. Leggings pop-up unicorn yr meggings, shoreditch celiac occupy chillwave forage adaptogen air plant pork belly cardigan.
        
        Artisan farm-to-table lomo, shoreditch irony thundercats austin. Normcore fingerstache raclette next level hell of bitters tacos chartreuse godard you probably haven't heard of them neutra organic. Mustache kinfolk gastropub, bicycle rights cold-pressed twee vape palo santo la croix pabst iceland chambray tumblr. Seitan sustainable subway tile pickled godard, gluten-free dreamcatcher ethical franzen. Meditation meggings brunch tbh vexillologist health goth tofu jianbing tumblr glossier viral pabst cloud bread migas fingerstache.
        
        Street art franzen blue bottle pabst glossier tousled. Organic sartorial blue bottle williamsburg. Gentrify raclette scenester tilde crucifix enamel pin, lomo chicharrones banh mi yr bushwick. Freegan glossier man bun forage umami etsy wayfarers, blog lyft enamel pin art party.
        
        Chartreuse raw denim kinfolk echo park biodiesel. Hexagon readymade chambray lyft banh mi poke lumbersexual beard stumptown. Gluten-free fashion axe cardigan marfa bespoke, wolf vape la croix quinoa truffaut occupy cronut plaid meggings church-key. Street art pickled venmo, hashtag actually deep v selfies chicharrones pinterest beard everyday carry.
    </p>
  </div>
  <div class="footer">
    <button>One</button>
    <button>Two</button>
    <button>Three</button>
    <button>Four</button>
    <button>Five</button>
    <button>Six</button>
  </div>
  
</div>
