.container {
  display: flex;
  flex-direction: column;
  .header {
    flex: 0 0 auto;
  }
  .content {
    overflow-y: auto;
    height: 400px;
    .content-scrollable {
      position: relative;
    }
  }
  .footer {
    flex:0 0 auto;
  }
}